@import "compass/css3";
html {
  background: #e6e6e6;
}
input[type='range'] {
  box-sizing: border-box;
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 0 0.25em;
  width: 16em;
  height: 1.5em;
  border-radius: 0.75em;
  transform: translate(-50%, -50%);
  background: linear-gradient(#ccc, #fff) border-box;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* set a background, white by default in Blink */
  /* make font-size consistent across browsers */
  /* slider components */
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  /* 
   * set a border, 
   * solid 1px black by default in IE, 
   * no border in othr browsers
   */
  border: solid 1px #818181;
  height: 0.875em;
  border-radius: 0.4375em;
  background: linear-gradient(#b0b0b0, #d5d5d5);
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  /* 
   * set a border, 
   * solid 1px black by default in IE, 
   * no border in othr browsers
   */
  border: solid 1px #818181;
  height: 0.875em;
  border-radius: 0.4375em;
  background: linear-gradient(#b0b0b0, #d5d5d5);
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  /* 
   * set a border, 
   * solid 1px black by default in IE, 
   * no border in othr browsers
   */
  border: solid 1px #818181;
  height: 0.875em;
  border-radius: 0.4375em;
  background: linear-gradient(#b0b0b0, #d5d5d5);
  /* remove tick marks on track */
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  /* top of the thumb = top of the track in Chrome */
  margin-top: -0.0625em;
  box-sizing: border-box;
  /* 
   * set a border, 
   * defaults different in every browser 
   */
  border: solid 1px #818181;
  width: 1.5em;
  height: 1em;
  /* 
   * set a border-radius, 
   * rounded by default only in Firefox 
   */
  border-radius: 0.25em;
  box-shadow: inset 0 0.125em 0.125em #fcfcfc;
  /* 
   * set a background, 
   * defaults different in every browser 
   */
  background: linear-gradient(#e0e0e0, #cecece);
  /* won't work in IE, kinda messsed in Chrome */
  cursor: ew-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  /* 
   * set a border, 
   * defaults different in every browser 
   */
  border: solid 1px #818181;
  width: 1.5em;
  height: 1em;
  /* 
   * set a border-radius, 
   * rounded by default only in Firefox 
   */
  border-radius: 0.25em;
  box-shadow: inset 0 0.125em 0.125em #fcfcfc;
  /* 
   * set a background, 
   * defaults different in every browser 
   */
  background: linear-gradient(#e0e0e0, #cecece);
  /* won't work in IE, kinda messsed in Chrome */
  cursor: ew-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  /* 
   * set a border, 
   * defaults different in every browser 
   */
  border: solid 1px #818181;
  width: 1.5em;
  height: 1em;
  /* 
   * set a border-radius, 
   * rounded by default only in Firefox 
   */
  border-radius: 0.25em;
  box-shadow: inset 0 0.125em 0.125em #fcfcfc;
  /* 
   * set a background, 
   * defaults different in every browser 
   */
  background: linear-gradient(#e0e0e0, #cecece);
  /* won't work in IE, kinda messsed in Chrome */
  cursor: ew-resize;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-fill-upper, input[type='range']::-ms-tooltip {
  display: none;
  /* slider variations */
}
input[type='range']:nth-of-type(2) {
  top: 66%;
}
.js input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track {
  background: linear-gradient(#fafafa, #bbb) no-repeat, linear-gradient(#b0b0b0, #d5d5d5);
  background-size: 40% 100%, 100% 100%;
}
.js input[type='range']:nth-of-type(2)::-moz-range-track {
  background: linear-gradient(#fafafa, #bbb) no-repeat, linear-gradient(#b0b0b0, #d5d5d5);
  background-size: 40% 100%, 100% 100%;
}
.js input[type='range']:nth-of-type(2)::-ms-fill-lower {
  display: block;
  border-radius: 0.875em;
  background: linear-gradient(#fafafa, #bbb);
}
input[type='range']:nth-of-type(2)::-webkit-slider-thumb {
  margin-top: -0.1875em;
  height: 1.25em;
  background: repeating-linear-gradient(90deg, #bbb, #bbb 1px, rgba(187, 187, 187, 0) 2px, rgba(187, 187, 187, 0) 4px) no-repeat 50% 50%, linear-gradient(#ededed, #c9c9c9);
  background-size: 65% 65%, 100% 100%;
}
input[type='range']:nth-of-type(2)::-moz-range-thumb {
  height: 1.25em;
  background: repeating-linear-gradient(90deg, #bbb, #bbb 1px, rgba(187, 187, 187, 0) 2px, rgba(187, 187, 187, 0) 4px) no-repeat 50% 50%, linear-gradient(#ededed, #c9c9c9);
  background-size: 65% 65%, 100% 100%;
}
input[type='range']:nth-of-type(2)::-ms-thumb {
  height: 1.25em;
  background: repeating-linear-gradient(90deg, #bbb, #bbb 1px, rgba(187, 187, 187, 0) 2px, rgba(187, 187, 187, 0) 4px) no-repeat 50% 50%, linear-gradient(#ededed, #c9c9c9);
  background-size: 65% 65%, 100% 100%;
  /* slider states */
}
input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 0.125em cyan;
}






